.google-maps-view {
    display: flex;
    flex-direction: row;
}

.date {
    padding: 10px;
}

.selected {
    background-color: blue;
}

.color-block-legend {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}